/*-------------------------------------------------------------------* 
 Blogs Listing Page 
*-------------------------------------------------------------------*/

/* Page Title Bar */
header {
    top: 0px;
}

.heading-bar {
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color-two);
}

.heading-bar .heading {
    color: var(--white-color);
    font-size: 60px;
    text-align: center;
}

.heading-bar .heading h1 {
    padding: 80px 0 0 0;
    margin: 70px 0 20px 0;
}

.heading-bar .sub-heading {
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}

.heading-bar .sub-heading span {
    color: var(--theme-color);
}

.heading-bar .sub-heading span:hover {
    color: var(--white-color-two);
}





/*-------------------------------------------------------------------*
  Blogs Post Cards
*-------------------------------------------------------------------*/

.blog {
    width: 100%;
    position: relative;
    padding: 80px 0;
    padding-bottom: 100px;
    background: linear-gradient(to right, #ff0a0a, #C2C2C2, #000000);
}

.blog .container {
    position: relative;
}

.blog .container .blog-header {
    margin-bottom: 20px;
}

.blog .container .blog-header .header-content {
    text-align: center;
    margin: 30px;
}

.blog .container .blog-header .header-content .sub-heading {
    color: var(--white-color-two);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.blog .container .blog-header .header-content .main-heading {
    position: relative;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    color: var(--white-color);
}

.blog .container .blog-header .header-content .main-heading .heading::after {
    content: "";
    width: 128px;
    height: 50px;
    border: 3px solid var(--black-color);
    position: absolute;
    bottom: -58px;
    right: 36.5%;
    border-radius: 50%;
    opacity: 1;
    clip-path: circle(45.4% at 50% 0);
}

.blog .container .blog-header .header-content .main-heading .heading {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
}

.blog .container .blog-header .header-content .main-heading .heading .colored-text {
    color: var(--black-color);
}

.blog .container .blog-header .header-content .content {
    color: var(--gray-color);
    font-weight: 400;
    margin-top: 9px;
}

.blog .container .row {
    display: flex;
    width: 80%;
    margin: auto;
}

.blog .container .row .card {
    width: 350px;
    margin-right: 35px;
    height: 450px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    border: 1px solid var(--white-color-two);
    background-color: var(--black-color-two);
    box-shadow: 0px 2px 20px var(--white-color-two);
    transition: 250ms all ease-in-out;
}

.blog .container .row  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px var(--theme-color);
}

.blog .container .row  .card .article {
    position: relative;
    padding: 24px;
}

.blog .container .row  .card .article .image img {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 3px;
    border-bottom: 1px solid var(--theme-color);
}

.blog .container .row  .card .article .image img {
    display: block;
    height: auto;
    width: 100%;
}

.blog .container .row  .card .article .category {
    margin: 35px 20px 14px 16px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.blog .container .row  .card .article .category a {
    margin: 0 0 16px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
    padding: 7px 14px 7px 14px;
    background: var(--theme-color);
}

.blog .container .row  .card .article .category a:hover {
    background: var(--white-color);
    color: var(--theme-color);
}

.blog .container .row  .card .article .title {
    margin: 14px 20px 14px 16px;
    font-weight: 800;
}

.blog .container .row  .card .article .content {
    margin: 14px 20px 14px 16px;
    font-size: 12px;
    font-weight: 300;
}

.blog .container .row  .card .article .meta {
    margin: 14px 0px 14px 16px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 200;
}

.blog .container .row  .card .article .meta  .info .label,
.blog .container .row  .card .article .meta  .info .date {
    color: var(--white-color-two);
    font-weight: 200;
}

.blog .container .row  .card .article .meta  .info .author {
    font-weight: bold;
}

.blog .container .row  .card .article .read-more {
    margin: 14px 0px 14px 16px;
    text-transform: uppercase;
}

.blog .container .row  .card .article .read-more:hover {
    transform: translateX(10px);
}